.employee{
  padding: 5px;
  position: relative;
  border: 1px solid #ff7500
}
.pagination> .page-item{
  list-style-type: none;
}
.page-value:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.employee-avatar.active {
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  background: red;
}